*.class

# Package Files #
*.jar
*.war
*.ear

# LaTex Files #
*.toc
*.tex
*.aux
*.log
*.gz
/GameMakerEditor/nbproject/private/
/GameMakerEditor/build/
/GameMakerLibrary/nbproject/private/
/GameMakerClient/nbproject/private/